$background: rgb(215, 215, 215);
$main_color: rgb(31, 31, 31);

html,
body {
    max-width: 100vw;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-weight: 400;
    color: $main_color;
    background: $background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
}

button {
    padding: 0;
    margin: 0;
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
    font-family: inherit;
    text-align: left;
    font-size: inherit;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: inherit;
    font-size: inherit;
}
input {
    font-family: inherit;
    font-size: inherit;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
    display: block;
    margin: 0;
    padding: 0;
}
.sr-only {
    position: absolute !important;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
