.wrap {
    width: 100%;
    max-width: 600px;
    min-width: 320px;
    position: fixed;
    z-index: 99999;
    bottom: 90px;
    display: flex;
    justify-content: center;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
}

.toast {
    background: white;
    padding: 8px 20px;
    border-radius: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    p {
        font-size: 17px;
    }
}

.hide {
    transform: translate(0, 10px);
    opacity: 0;
    visibility: hidden;
}
