.wrap {
    width: 90%;
    margin: 30px auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.newPostButton {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
    background: white;
    color: black;
    padding: 10px 15px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    transition: all 0.2s ease;

    &:hover {
        background: rgb(237, 237, 237);
    }
}

.postArea {
    position: relative;
    width: 100%;
    display: flex;
    margin: 15px 0;
    padding: 15px;
    background: white;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 8px;
    transition: all 0.2s ease;

    &:hover {
        background: rgb(247, 247, 247);
    }
}

.quoteArea {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    overflow: hidden;
    padding: 0 15px;
    gap: 8px;

    p {
        &:nth-of-type(1) {
            font-size: 12px;
            color: rgb(139, 139, 139);
        }
        &:nth-of-type(2) {
            font-size: 12px;
            color: rgb(139, 139, 139);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &:nth-of-type(3) {
            font-size: 15px;
            font-weight: 600;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &:nth-of-type(4) {
            font-size: 13px;
            color: rgb(139, 139, 139);
        }
    }
}

.bookCoverImage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 70px;
    background: rgb(237, 237, 237);
    border-radius: 4px;
    overflow: hidden;
}

.authorArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
    gap: 5px;

    p {
        font-size: 12px;
        color: rgb(139, 139, 139);
    }
}

.authorProfileImage {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    height: 35px;
    width: 35px;
    border: 1px solid rgb(225, 225, 225);
}
