.wrap {
    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    p {
        font-size: 18px;
    }
}

.btn {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: grey 1px solid;
}
