.topArea {
    height: 50px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 800;

    background: rgb(215, 215, 215);
    // border-top: 5px solid #352614;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.myshelfWrap {
    // background: rgb(177, 177, 177);
}
