.topArea {
    height: 50px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 800;

    background: #e1b47b;
    // border-top: 5px solid #352614;
    box-shadow: 0 10px 10px rgba(53, 38, 20, 80%), inset 0 5px 5px rgba(53, 38, 20, 30%);
}

.myshelfWrap {
    background-color: #69553b;
}
